In [1]:
print("안녕 이제 파이썬을 시작하려고 해")

안녕 이제 파이썬을 시작하려고 해

In [2]:
hello

NameError: name 'hello' is not defined

In [3]:
type('hi')

str

In [4]:
type(100)

int

In [5]:
type('100')

str

In [6]:
mynumber=100
print(mynumber)

100

In [7]:
mynumber+10

110

In [12]:
hernumber=10.5
print(hernumber+10)

20.5

In [14]:
type(hernumber)

float

In [15]:
type(mynumber)

int

In [16]:
num1 = 10
num2 = 22
num2/num1

2.2

In [17]:
num2//num1

2

In [18]:
num1**num2

10000000000000000000000

In [19]:
num1*num2

220

In [20]:
num2%num1

2

In [21]:
2**3

8

In [22]:
num1 = 2
str1 = "hello"
str2= "world"
str2 * num1

'worldworld'

In [23]:
num1* str2

'worldworld'

In [24]:
str1 + str2

'helloworld'

In [25]:
#비교 연산자
mynumber = 100
mynumber > 10

True

In [26]:
5!=7

True

In [27]:
str1 = "hello"
str2= "world"

In [28]:
print(str1 + str2)

helloworld

In [30]:
print(str1 + " " + str2)

hello world

In [31]:
print(str1, str2)

hello world

In [32]:
input()

'안녕'

In [34]:
name = input()
print("제 이름은", name,"입니다")

제 이름은 홍길동 입니다

In [35]:
num1 = 7
num2 = 3

In [41]:
num1 = input("첫 번째 숫자를 입력하세요: ")
num2 = input("두 번째 숫자를 입력하세요: ")

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

73

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [38]:
type(num1)

str

In [39]:
type(num2)

str

In [45]:
num1 = int(input("첫 번째 숫자를 입력하세요: "))
num2 = int(input("두 번째 숫자를 입력하세요: "))

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
# 나눗셈은 0으로 나누는 오류 방지
if num2 != 0:
    print("나눗셈 결과:", num1 / num2)
    print("몫:", num1 // num2)
    print("나머지:", num1 % num2)
else:
    print("0으로 나눌 수 없습니다.")

10
4
21
2.3333333333333335
나눗셈 결과: 2.3333333333333335
몫: 2
나머지: 1

In [47]:
print("선생님이\"참잘했어요\"칭찬했다")

선생님이"참잘했어요"칭찬했다

In [51]:
sentence = """
안녕
좋은아침
잘가
"""

In [52]:
print(sentence)

안녕
좋은아침
잘가

In [53]:
print("'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다")

'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다

In [54]:
print("Hello")
print("Hello")
print("Hello")

Hello
Hello
Hello

In [55]:
print("Hello" * 3)

HelloHelloHello

In [56]:
print("Hello","Hello","Hello")

Hello Hello Hello

In [57]:
print("Hello", end=",")

Hello,

In [58]:
print("Hello","Hello","Hello", end=",")

Hello Hello Hello,

In [60]:
num1 = 5
num2 = 6

print(f"더하기의 결과 : {num1} + {num2} = {num1+num2}")

더하기의 결과 : 5 + 6 = 11

In [61]:
num1 = 5
num2 = 6

print("더하기의 결과 : {num1} + {num2} = {num1+num2}")

더하기의 결과 : {num1} + {num2} = {num1+num2}

In [62]:
1==2

False

In [63]:
type(True)

bool

In [64]:
print(type(True))

<class 'bool'>

In [65]:
bool(0)

False

In [66]:
bool(1)

True

In [67]:
bool(100)

True

In [68]:
bool(-1)

True

In [69]:
bool('')

False

In [70]:
bool("")

False

In [71]:
bool()

False

In [ ]:
menu1 = int(input("김밥주문갯수 : "))
menu2 = int(input("떢볶이주문갯수 : "))
menu3 = int(input("라면주문갯수 : "))

print(f"""
메뉴판
김밥 : 3,000원
떢볶이 : 3,500원
라면 : 2,500원

지불하실 금액은 {menu1*3000+menu2*3500+menu3*2500}원 입니다.""""")

메뉴판
김밥 : 3,000원
떢볶이 : 3,500원
라면 : 2,500원

지불하실 금액은 14500원 입니다.

In [86]:
menu1 = int(input("김밥주문갯수 : "))
menu2 = int(input("떢볶이주문갯수 : "))
menu3 = int(input("라면주문갯수 : "))

print("메뉴판\n 김밥 : 3,000원\n 떢볶이 : 3,500원\n 라면 : 2,500원")

print("주문 갯수 \n 김밥2+떡볶이1+라면1")

print("지불하실 금액은",menu1*3000+menu2*3500+menu3*2500,"원 입니다.")

메뉴판
 김밥 : 3,000원
 떢볶이 : 3,500원
 라면 : 2,500원
주문 갯수
 김밥2+떡볶이1+라면1
지불하실 금액은 14500 원 입니다.

In [ ]:
menu1 = int(input("김밥주문갯수 : "))
menu2 = int(input("떢볶이주문갯수 : "))
menu3 = int(input("라면주문갯수 : "))

m1 = 3000
m2 = 3500
m3 = 2500


print(f"""
메뉴판
김밥 : {m1}원
떢볶이 : {m2}원
라면 : {m3}원
지불하실 금액은 {menu1*3000+menu2*3500+menu3*2500}원 입니다.""""")

print(f"주문 내역 \n 김밥 {menu1},떡볶이 {menu2}, 라면 {menu3}")

메뉴판
김밥 : 3000원
떢볶이 : 3500원
라면 : 2500원
지불하실 금액은 14500원 입니다.
주문 내역
 김밥 2,떡볶이 1, 라면 2

In [ ]:
money = True

if money:
    print("스테이크 먹는다")

print(money)

스테이크 먹는다
True

In [ ]:
money = False

if money:
    print("스테이크 먹는다")

print("조건문 종료")

In [96]:
money = False

if money:
    print("스테이크 먹는다")
    print("블루보틀 커피 마신다")
    print("택시 탄다")

print("조건문 종료")

조건문 종료

In [97]:
money = False

if money:
    print("스테이크 먹는다")
    print("블루보틀 커피 마신다")
    print("택시 탄다")
else:
    print("라면 먹는다")

라면 먹는다

In [106]:
num = 3

if num % 2 == 0:
    print('Even')
else: 
        print('Odd')

Odd

In [109]:
num1 = int(input("숫자 : "))

if num1 % 2 == 0:
    print('Even')
else: 
        print('Odd')

Odd

In [111]:
eng = 80
math = 100
if eng >= 90 and math >= 90:
    print("참 잘했어요!")
else: 
    print('더 노력하세요.')

더 노력하세요.

In [113]:
eng = int(input("영어 점수 : "))
math = int(input("수학 점수 : "))
if eng >= 90 and math >= 90:
    print("참 잘했어요!")
else: 
    print('더 노력하세요.')

참 잘했어요!

In [116]:
num = int(input("숫자를 입력하세요 : "))

if num1 % 2 == 0:
    print('짝수입니다')
else: 
    print('홀수입니다.')

홀수입니다.

In [125]:
grade = int(input("성적을 입력하세요 : "))

if grade>=90:
    print('A')
elif grade>=80: 
    print('B')
elif grade>=70:
    print('C')
elif grade>=60:
    print('D')

else: 
    print('F')

B

In [119]:

grade = int(input("성적을 입력하세요: "))

if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('D')
else:
    print('F')

A

In [126]:
for i in range(10):
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [134]:
for i in range(9, 0, -2):
    print(f"{i}번째 Hello")

9번째 Hello
7번째 Hello
5번째 Hello
3번째 Hello
1번째 Hello

In [135]:
for i in range(1, 11):
    print(sum(range))

TypeError: 'type' object is not iterable

In [136]:
total = 0
for i in range(1, 11):
    total += i
print(total)

55

In [144]:
for i in range(1, 11):
   print(i)

1
2
3
4
5
6
7
8
9
10

In [150]:
total = 0
for i in range(1, 11):
    total = total+i    
print(total)

55

In [156]:
total = 1
for i in range(1, 5):
    total = total*i    
print(total)

24

In [158]:
i = 1
while i<=5:
    print(f"{i}번째 Hello")
    i = i+1

1번째 Hello
2번째 Hello
3번째 Hello
4번째 Hello
5번째 Hello

In [4]:
num1 = int(input("정수를 입력하세요: "))
i = 1
total = 0

while i <=num1 :
    total = total+i
    i = i+1
print(total)

21

In [5]:
num1 = int(input("정수를 입력하세요: "))
i = 1
total = 1

while i <=num1 :
    total = total*i
    i = i+1
print(total)

24

In [7]:
total = 0
for i in range(1, 5):
    total += i    
print(total)

10

In [8]:
## for 문 연습

In [9]:
연습

NameError: name '연습' is not defined

In [16]:
num1 = int(input("구구단 문제 내기: "))
print("구구단 문제")
for i in range(1, 10):
    print(f"{num1} 곱하기 {i} = {num1*i}")

구구단 문제
5 곱하기 1 = 5
5 곱하기 2 = 10
5 곱하기 3 = 15
5 곱하기 4 = 20
5 곱하기 5 = 25
5 곱하기 6 = 30
5 곱하기 7 = 35
5 곱하기 8 = 40
5 곱하기 9 = 45

Break

In [17]:
# 1~10 합계, 합이 20이상 될 때 정수값을 찾기
sum = 0
for i in range(1, 10+1):
    sum += i
    if sum >= 20:
        print(f"정수: {i}, 합계: {sum}")
print(sum)

정수: 6, 합계: 21
정수: 7, 합계: 28
정수: 8, 합계: 36
정수: 9, 합계: 45
정수: 10, 합계: 55
55

In [18]:
# 1~10 합계, 합이 20이상 될 때 정수값을 찾기
sum = 0
for i in range(1, 10+1):
    sum += i
    if sum >= 20:
        print(f"정수: {i}, 합계: {sum}")
        break
print(sum)

정수: 6, 합계: 21
21

In [44]:
for i in range(1,11):
    if i % 3!= 0:
        print(f"{i}는 3의 배수가 아닙니다")
    else:
        print("3의 배수입니다")

1는 3의 배수가 아닙니다
2는 3의 배수가 아닙니다
3의 배수입니다
4는 3의 배수가 아닙니다
5는 3의 배수가 아닙니다
3의 배수입니다
7는 3의 배수가 아닙니다
8는 3의 배수가 아닙니다
3의 배수입니다
10는 3의 배수가 아닙니다

In [ ]:
import random
answer = random.randint(1, 100)

while True:
    guess = int(input("1부터 100사이의 숫자를 맞춰주세요. : "))
    if guess == answer: 
         print(f"정답입니다.{i}번째 시도, 게임을 종료합니다.")

    elif guess > answer:
        print("너무 커요")
    else: 
        print("너무 작아요")
        break

print(answer)

너무 커요
너무 작아요
40

In [41]:
import random
answer = random.randint(1, 100)
print(answer)

70

In [50]:
i=1
while True: 
    if i >= 20:
        break
    if i % 3 != 0 and i % 5 != 0:
            print(i)
    i += 1

1
2
4
7
8
11
13
14
16
17
19

In [45]:
i = 1

while True:
    if i >= 20:
        break
    if i % 3 != 0 and i % 5 != 0:
        print(i)
    i += 1

1
2
4
7
8
11
13
14
16
17
19

In [53]:
i=1
while: 
    if i >= 20:
        break
    if i % 3 != 0 and i % 5 != 0:
            print(i)
    i += 1

SyntaxError: invalid syntax (3749142621.py, line 2)

In [57]:
i=0
while True: 
    i += 1
    if i >= 20:
        print(f"{i} break")
        break
    if i % 3 == 0 or i % 5 == 0:
        continue
    print(i)

1
2
4
7
8
11
13
14
16
17
19
20 break

# 중첩반복문
## 2~9단 모두 출력
2 * 1 = 2

2 * 2 = 4

2 * 3 = 6

In [66]:
# 2 <= dan <= 9
#  
for dan in range(2,10):
    print(dan)

for i in range(1,10):
    print(f"{dan} * {i} = {dan * i}")

2
3
4
5
6
7
8
9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [83]:
for dan in range(2,10):
    for i in range(1,10):
        print(f"{dan}단 {dan} * {i} = {dan * i}", end= " ")
    print()

2단 2 * 1 = 2 2단 2 * 2 = 4 2단 2 * 3 = 6 2단 2 * 4 = 8 2단 2 * 5 = 10 2단 2 * 6 = 12 2단 2 * 7 = 14 2단 2 * 8 = 16 2단 2 * 9 = 18
3단 3 * 1 = 3 3단 3 * 2 = 6 3단 3 * 3 = 9 3단 3 * 4 = 12 3단 3 * 5 = 15 3단 3 * 6 = 18 3단 3 * 7 = 21 3단 3 * 8 = 24 3단 3 * 9 = 27
4단 4 * 1 = 4 4단 4 * 2 = 8 4단 4 * 3 = 12 4단 4 * 4 = 16 4단 4 * 5 = 20 4단 4 * 6 = 24 4단 4 * 7 = 28 4단 4 * 8 = 32 4단 4 * 9 = 36
5단 5 * 1 = 5 5단 5 * 2 = 10 5단 5 * 3 = 15 5단 5 * 4 = 20 5단 5 * 5 = 25 5단 5 * 6 = 30 5단 5 * 7 = 35 5단 5 * 8 = 40 5단 5 * 9 = 45
6단 6 * 1 = 6 6단 6 * 2 = 12 6단 6 * 3 = 18 6단 6 * 4 = 24 6단 6 * 5 = 30 6단 6 * 6 = 36 6단 6 * 7 = 42 6단 6 * 8 = 48 6단 6 * 9 = 54
7단 7 * 1 = 7 7단 7 * 2 = 14 7단 7 * 3 = 21 7단 7 * 4 = 28 7단 7 * 5 = 35 7단 7 * 6 = 42 7단 7 * 7 = 49 7단 7 * 8 = 56 7단 7 * 9 = 63
8단 8 * 1 = 8 8단 8 * 2 = 16 8단 8 * 3 = 24 8단 8 * 4 = 32 8단 8 * 5 = 40 8단 8 * 6 = 48 8단 8 * 7 = 56 8단 8 * 8 = 64 8단 8 * 9 = 72
9단 9 * 1 = 9 9단 9 * 2 = 18 9단 9 * 3 = 27 9단 9 * 4 = 36 9단 9 * 5 = 45 9단 9 * 6 = 54 9단 9 * 7 = 63 9단 9 * 8 = 72 9단 9 * 9 = 81

In [ ]:
i=*
while True: 
    i += **
 for i in range(1,10):
    print(f"{i}"+2)
    print()

IndentationError: unexpected indent (4214885416.py, line 3)

In [2]:
height = 10  # 원하는 줄 수

for i in range(height):
    spaces = ' ' * (height - i - 1)
    stars = '*' * (2 * i + 1)
    print(spaces + stars)

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [5]:
n = 10
for i in range(n):
    print("*")

*
*
*
*
*
*
*
*
*
*

In [18]:
n = 10
for i in range(1, n + 1):
    for j in range(n-i):
        print('-',end=' ')
    print("*")

- - - - - - - - - *
- - - - - - - - *
- - - - - - - *
- - - - - - *
- - - - - *
- - - - *
- - - *
- - *
- *
*

In [50]:
n = 10
for i in range(1, n + 1):
    for j in range(n-i):
        print('-', end=' ')
    for j in range(2 * i - 1):
        print('*', end=' ')
    print()

- - - - - - - - - *
- - - - - - - - * * *
- - - - - - - * * * * *
- - - - - - * * * * * * *
- - - - - * * * * * * * * *
- - - - * * * * * * * * * * *
- - - * * * * * * * * * * * * *
- - * * * * * * * * * * * * * * *
- * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *

In [30]:
n = 10
for i in range(1, n + 1):
    spaces = ' ' * (n - i)
    stars = '*' * (2 * i - 1)
    print(spaces + stars)

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [46]:
num = 0
for i in range(5):
    for j in range(5):
        print(f"(i = {i}, j={j})")
        num = i*j
print(num)

(i = 0, j=0)
(i = 0, j=1)
(i = 0, j=2)
(i = 0, j=3)
(i = 0, j=4)
(i = 1, j=0)
(i = 1, j=1)
(i = 1, j=2)
(i = 1, j=3)
(i = 1, j=4)
(i = 2, j=0)
(i = 2, j=1)
(i = 2, j=2)
(i = 2, j=3)
(i = 2, j=4)
(i = 3, j=0)
(i = 3, j=1)
(i = 3, j=2)
(i = 3, j=3)
(i = 3, j=4)
(i = 4, j=0)
(i = 4, j=1)
(i = 4, j=2)
(i = 4, j=3)
(i = 4, j=4)
16

In [47]:
number = 0
for i in range(5):
    for j in range(5):
        print(f"(i = {i}, j = {j})")
        number = i*j
        if i == 2 and j == 3:
            break
    if i == 2 and j == 3:
        break

print(number)

(i = 0, j = 0)
(i = 0, j = 1)
(i = 0, j = 2)
(i = 0, j = 3)
(i = 0, j = 4)
(i = 1, j = 0)
(i = 1, j = 1)
(i = 1, j = 2)
(i = 1, j = 3)
(i = 1, j = 4)
(i = 2, j = 0)
(i = 2, j = 1)
(i = 2, j = 2)
(i = 2, j = 3)
6

In [67]:
n = 30
star = 0
break_all = False

for i in range(1, 10+1):
    for j in range(i):
        star += 1
        if star > n:
            break_all = True
            break
        print('*', end=' ')
    if break_all:
        break
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* *

In [71]:
n = 30
star = 0
break_all = False

for i in range(1, 10+1):
    for j in range(i):
        star += 1
        if star > n:
            break_all = True
            break
        print('*', end=' ')
    if break_all:
        break
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* *

In [96]:
my_str = "Hello, Python"

In [ ]:
my_str[]

'Hello, Python'

In [102]:
type(my_str)

str

In [175]:
for i in range(len(my_str)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12

In [104]:
len(my_str)

13

In [105]:
my_str.lower()

'hello, python'

In [111]:
words = my_str.split(',')
print(words)

['Hello', ' Python']

In [113]:
num1 = [ 1, 2, 3, 4, 5]
num2 = [6, 7, 8, 9, 10]
num1 + num2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [114]:
num1 * 2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [115]:
fruit = ['apple', 'banana', 'mango']

In [121]:
fruit[0::2]

['apple', 'mango']

In [122]:
fruit.append('cherry')

In [123]:
fruit

['apple', 'banana', 'mango', 'cherry']

In [127]:
fruit.insert(2,'lemon')

In [128]:
fruit

['apple', 'banana', 'lemon', 'mango', 'cherry']

In [129]:
fruit[-1]

'cherry'

In [131]:
fruit[0] = 'grape'

In [132]:
fruit

['grape', 'banana', 'lemon', 'mango', 'cherry']

In [133]:
fruit.extend(['oreange','melon'])

In [134]:
fruit

['grape', 'banana', 'lemon', 'mango', 'cherry', 'oreange', 'melon']

In [135]:
fruit.pop()

'melon'

In [136]:
fruit

['grape', 'banana', 'lemon', 'mango', 'cherry', 'oreange']

In [137]:
fruit(0)

TypeError: 'list' object is not callable

In [138]:
fruit.pop(0)

'grape'

In [139]:
fruit.remove("cherry")

In [140]:
fruit

['banana', 'lemon', 'mango', 'oreange']

In [141]:
fruit.remove("che")

ValueError: list.remove(x): x not in list

In [150]:
fruit.append('jujube')
fruit

['banana',
 'lemon',
 'mango',
 'oreange',
 'jujube',
 'jujube',
 'jujube',
 'jujube',
 'jujube']

In [152]:
fruit.index('jujube')

4

In [153]:
fruit.remove('jujube')

In [154]:
fruit

['banana', 'lemon', 'mango', 'oreange', 'jujube', 'jujube', 'jujube', 'jujube']

In [156]:
len(fruit)

8

In [158]:
fruit.pop(4)

'jujube'

In [159]:
fruit

['banana', 'lemon', 'mango', 'oreange', 'jujube', 'jujube', 'jujube']

In [160]:
fruit.sort()

In [161]:
fruit

['banana', 'jujube', 'jujube', 'jujube', 'lemon', 'mango', 'oreange']

In [162]:
fruit.sort(reverse = True)

In [163]:
fruit

['oreange', 'mango', 'lemon', 'jujube', 'jujube', 'jujube', 'banana']

In [164]:
fruit.remove('jujube')

In [165]:
fruit

['oreange', 'mango', 'lemon', 'jujube', 'jujube', 'banana']

In [167]:
fruit.insert(0, 'apple')

In [168]:
fruit

['apple', 'oreange', 'mango', 'lemon', 'jujube', 'jujube', 'banana']

In [173]:
fruit = ['apple', 'oreange', 'mango', 'cherry']
for i in range(len(fruit)):
    print(f"{i} 번째 과일은 {fruit[i]}입니다.")

0 번째 과일은 apple입니다.
1 번째 과일은 oreange입니다.
2 번째 과일은 mango입니다.
3 번째 과일은 cherry입니다.

In [176]:
number = [ 10, 20, 30, 40, 50]
len(number)

5

In [177]:
max(number)

50

In [178]:
min(number)

10

In [179]:
sum(number)

150

NameError: name 'mean' is not defined

In [182]:
sum(number)/len(number)

30.0

In [183]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [184]:
number = [i for i in range(10)]

In [185]:
number

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]