In [1]:
print("안녕 이제 파이썬을 시작하려고 해")

안녕 이제 파이썬을 시작하려고 해

In [2]:
hello

NameError: name 'hello' is not defined

In [3]:
type('hi')

str

In [4]:
type(100)

int

In [5]:
type('100')

str

In [6]:
mynumber=100
print(mynumber)

100

In [7]:
mynumber+10

110

In [12]:
hernumber=10.5
print(hernumber+10)

20.5

In [14]:
type(hernumber)

float

In [15]:
type(mynumber)

int

In [16]:
num1 = 10
num2 = 22
num2/num1

2.2

In [17]:
num2//num1

2

In [18]:
num1**num2

10000000000000000000000

In [19]:
num1*num2

220

In [20]:
num2%num1

2

In [21]:
2**3

8

In [22]:
num1 = 2
str1 = "hello"
str2= "world"
str2 * num1

'worldworld'

In [23]:
num1* str2

'worldworld'

In [24]:
str1 + str2

'helloworld'

In [25]:
#비교 연산자
mynumber = 100
mynumber > 10

True

In [26]:
5!=7

True

In [27]:
str1 = "hello"
str2= "world"

In [28]:
print(str1 + str2)

helloworld

In [30]:
print(str1 + " " + str2)

hello world

In [31]:
print(str1, str2)

hello world

In [32]:
input()

'안녕'

In [34]:
name = input()
print("제 이름은", name,"입니다")

제 이름은 홍길동 입니다

In [35]:
num1 = 7
num2 = 3

In [41]:
num1 = input("첫 번째 숫자를 입력하세요: ")
num2 = input("두 번째 숫자를 입력하세요: ")

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

73

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [38]:
type(num1)

str

In [39]:
type(num2)

str

In [45]:
num1 = int(input("첫 번째 숫자를 입력하세요: "))
num2 = int(input("두 번째 숫자를 입력하세요: "))

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
# 나눗셈은 0으로 나누는 오류 방지
if num2 != 0:
    print("나눗셈 결과:", num1 / num2)
    print("몫:", num1 // num2)
    print("나머지:", num1 % num2)
else:
    print("0으로 나눌 수 없습니다.")

10
4
21
2.3333333333333335
나눗셈 결과: 2.3333333333333335
몫: 2
나머지: 1

In [47]:
print("선생님이\"참잘했어요\"칭찬했다")

선생님이"참잘했어요"칭찬했다

In [51]:
sentence = """
안녕
좋은아침
잘가
"""

In [52]:
print(sentence)

안녕
좋은아침
잘가

In [53]:
print("'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다")

'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다

In [54]:
print("Hello")
print("Hello")
print("Hello")

Hello
Hello
Hello

In [55]:
print("Hello" * 3)

HelloHelloHello

In [56]:
print("Hello","Hello","Hello")

Hello Hello Hello

In [57]:
print("Hello", end=",")

Hello,

In [58]:
print("Hello","Hello","Hello", end=",")

Hello Hello Hello,

In [60]:
num1 = 5
num2 = 6

print(f"더하기의 결과 : {num1} + {num2} = {num1+num2}")

더하기의 결과 : 5 + 6 = 11

In [61]:
num1 = 5
num2 = 6

print("더하기의 결과 : {num1} + {num2} = {num1+num2}")

더하기의 결과 : {num1} + {num2} = {num1+num2}

In [62]:
1==2

False

In [63]:
type(True)

bool

In [64]:
print(type(True))

<class 'bool'>

In [65]:
bool(0)

False

In [66]:
bool(1)

True

In [67]:
bool(100)

True

In [68]:
bool(-1)

True

In [69]:
bool('')

False

In [70]:
bool("")

False

In [71]:
bool()

False

In [ ]:
menu1 = int(input("김밥주문갯수 : "))
menu2 = int(input("떢볶이주문갯수 : "))
menu3 = int(input("라면주문갯수 : "))

print(f"""
메뉴판
김밥 : 3,000원
떢볶이 : 3,500원
라면 : 2,500원

지불하실 금액은 {menu1*3000+menu2*3500+menu3*2500}원 입니다.""""")

메뉴판
김밥 : 3,000원
떢볶이 : 3,500원
라면 : 2,500원

지불하실 금액은 14500원 입니다.

In [86]:
menu1 = int(input("김밥주문갯수 : "))
menu2 = int(input("떢볶이주문갯수 : "))
menu3 = int(input("라면주문갯수 : "))

print("메뉴판\n 김밥 : 3,000원\n 떢볶이 : 3,500원\n 라면 : 2,500원")

print("주문 갯수 \n 김밥2+떡볶이1+라면1")

print("지불하실 금액은",menu1*3000+menu2*3500+menu3*2500,"원 입니다.")

메뉴판
 김밥 : 3,000원
 떢볶이 : 3,500원
 라면 : 2,500원
주문 갯수
 김밥2+떡볶이1+라면1
지불하실 금액은 14500 원 입니다.

In [103]:
menu1 = int(input("김밥주문갯수 : "))
menu2 = int(input("떢볶이주문갯수 : "))
menu3 = int(input("라면주문갯수 : "))

print("메뉴판\n 김밥 : 3,000원 떢볶이 : 3,500원 라면 : 2,500원", sep="\n")

print(f"주문 갯수 \n 김밥 {menu1},떡볶이 {menu2}, 라면 {menu3}")

m1 = 3000
m2 = 3500
m3 = 2500


print(f"""
메뉴판
김밥 : {m1}원
떢볶이 : {m2}원
라면 : {m3}원

지불하실 금액은 {menu1*3000+menu2*3500+menu3*2500}원 입니다.""""")

메뉴판
 김밥 : 3,000원 떢볶이 : 3,500원 라면 : 2,500원
주문 갯수
 김밥 2,떡볶이 1, 라면 2

메뉴판
김밥 : 3000원
떢볶이 : 3500원
라면 : 2500원

지불하실 금액은 14500원 입니다.

In [ ]:
money = True

if money:
    print("스테이크 먹는다")

print(money)

스테이크 먹는다
True

In [ ]:
money = False

if money:
    print("스테이크 먹는다")

print("조건문 종료")

In [96]:
money = False

if money:
    print("스테이크 먹는다")
    print("블루보틀 커피 마신다")
    print("택시 탄다")

print("조건문 종료")

조건문 종료

In [97]:
money = False

if money:
    print("스테이크 먹는다")
    print("블루보틀 커피 마신다")
    print("택시 탄다")
else:
    print("라면 먹는다")

라면 먹는다

In [106]:
num = 3

if num % 2 == 0:
    print('Even')
else: 
        print('Odd')

Odd

In [109]:
num1 = int(input("숫자 : "))

if num1 % 2 == 0:
    print('Even')
else: 
        print('Odd')

Odd

In [111]:
eng = 80
math = 100
if eng >= 90 and math >= 90:
    print("참 잘했어요!")
else: 
    print('더 노력하세요.')

더 노력하세요.

In [113]:
eng = int(input("영어 점수 : "))
math = int(input("수학 점수 : "))
if eng >= 90 and math >= 90:
    print("참 잘했어요!")
else: 
    print('더 노력하세요.')

참 잘했어요!

In [ ]:
num = int(input("숫자를 입력하세요 : "))

if num1 % 2 == 0:
    print('짝수입니다')
else: 
    print('홀수입니다.')

짝수입니다.