In [ ]:
print("Hello #MS.")

Hello #MS.

In [ ]:
def say_myself(name, age, man=True):
    print("내 이름은 %s 입니다." % name)
    print("내 나이는 %d 입니다." % age)
    if man:
        print("남자")
    else:
        print("여자")

In [ ]:
type(say_myself)

function

In [ ]:
def say_myself(name, age, man=True):
    print(f"{name}, {age}")
    print(man)

In [ ]:
say_myself("na", 22, True)

na, 22
True

In [ ]:
a = 1

def vartest(a):
    a = a + 1

print(vartest(a))
print(a)

None
1

In [ ]:
def vartest(a):
    a = a + 1

print(vartest(3))
print(a)

None

NameError: name 'a' is not defined

In [ ]:
print("Hello", "P", sep=" ")

Hello P

In [ ]:
r = (52, 255, 39, 132)
g = (52, 255, 39, 132)
b = (52, 255, 39, 132)

img = zip(r, g, b)
print(img)

<zip object at 0x0000029F8F94FA00>

In [ ]:
r = (52, 255, 39, 132)
g = (52, 255, 39, 132)
b = (52, 255, 39, 132)

img = list(zip(r, g, b))
print(img)

[(52, 52, 52), (255, 255, 255), (39, 39, 39), (132, 132, 132)]

In [ ]:
f = ('apple', 'banana', 'cherry', 'date')

In [ ]:
enumerate(f)

In [ ]:
dict(enumerate(f))

{0: 'apple', 1: 'banana', 2: 'cherry', 3: 'date'}

In [ ]:
my_list = [1, 2, 3, 4, 5]
result1 = []
for val in my_list:
    result1.append(val +1)
print(f'result1 : {result1}')

result1 : [2, 3, 4, 5, 6]

In [ ]:
my_list = [1, 2, 3, 4, 5]

def add_1(n):
    return n + 1
result = list(map(add_1, my_list))
result

[2, 3, 4, 5, 6]

In [ ]:
 = [8, 3, 2, 10, 15, 7, 1, 0, 11]

In [ ]:
result = []

for i in a:
    if i > 5 and i < 10:
        result.append(i)

result

[8, 7]

In [ ]:
def f(x):
    return x > 5 and x < 10

In [ ]:
list(filter(f, a))

[8, 7]

In [ ]:
numbers1 = [1, 2, 3, 4]
squared = list(map(lambda x : x**2, numbers1))
squared

[1, 4, 9, 16]

In [ ]:
numbers2 = [1, 2, 3, 4, 5]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers2))
even_numbers

[2, 4]

In [ ]:
numbers3.sort(reverse=True)

In [ ]:
numbers3 = [1, 2, 3, 4, 5, 6]

In [ ]:
my_numbers3 = sorted(numbers3)
my_numbers3

[1, 2, 3, 4, 5, 6]

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date']

In [ ]:
fruits

['apple', 'banana', 'cherry', 'date']

In [ ]:
my_fruits = sorted(fruits, key=len)
my_fruits

['date', 'apple', 'banana', 'cherry']

In [ ]:
my_fruits = sorted(fruits, key=len, reverse=True)
my_fruits

['banana', 'cherry', 'apple', 'date']

In [ ]:
points = [(1, 2), (3, 4), (5, 1)]
sorted_points = sorted(points, key = lambda x: x[1])
print(sorted_points)

[(5, 1), (1, 2), (3, 4)]

In [ ]:
points[0][1]

2

In [ ]:
points = [(1, 2), (3, 4), (5, 1)]
sorted_points = sorted(points, key = lambda x: x[1],reverse=True)
print(sorted_points)

[(3, 4), (1, 2), (5, 1)]

In [ ]:
points2 = [(1, 2, 2), (3, 4, 5), (5, 4, 3)]
sorted_points2 = sorted(points2, key = lambda x: x[1])
print(sorted_points2)

[(1, 2, 2), (3, 4, 5), (5, 4, 3)]

In [ ]:
points2 = [(1, 2, 2), (3, 4, 5), (5, 4, 3)]
sorted_points2 = sorted(points2, key = lambda x: (x[1], x[2]))
print(sorted_points2)

[(1, 2, 2), (5, 4, 3), (3, 4, 5)]

In [26]:
score = [[80, 70], [90, 50], [40, 70], [50, 80]]

score2 = [[80, 70], [70, 80], [30, 50], [90, 100], [100, 90], [100, 100], [10, 30]]

In [37]:
def rank(score):
    result = []
    avg = []
    for i, j in score:
        avg.append((i+j)/2)
    
    avg_sort = sorted(avg, reverse=True)
    for i in avg: 
        result.append(avg_sort.index(i) + 1)
    return result

In [34]:
score = [[80, 70], [90, 50], [40, 70], [50, 80]]

def rank(score):
    result = []
    avg = []
    for i, j in score:
        avg.append((i+j)/2)
    print(avg)

In [38]:
def rank(score):
    result = []
    avg = []

    # 평균 계산
    for i, j in score:
        avg.append((i + j) / 2)

    # 평균 출력 (선택 사항)
    print("평균 점수:", avg)

    # 내림차순 정렬된 평균 리스트
    avg_sort = sorted(avg, reverse=True)

    # 순위 계산
    for i in avg:
        result.append(avg_sort.index(i) + 1)

    return result

In [40]:
print(rank(score))

평균 점수: [75.0, 70.0, 55.0, 65.0]
[1, 2, 4, 3]

In [42]:
rank(score)

평균 점수: [75.0, 70.0, 55.0, 65.0]

[1, 2, 4, 3]

In [43]:
rank(score)

평균 점수: [75.0, 70.0, 55.0, 65.0]

[1, 2, 4, 3]

In [46]:
from math import pow

num1 = pow(2, 3)

In [ ]:
# 번호 6자리 추첨기

import random

def picker():
    num6 = random.sample(range(1, 46), 6)
    num6.sort()
    return num6

# 실행
print("result:", picker())

추첨된 번호: [10, 15, 16, 37, 40, 44]

In [50]:
import random as r

result = []
while len(result) < 6:
    num = r.randint(1, 45)
    if num not in result:
        result.append(num)
print(num)
print(result)

14
[11, 27, 24, 28, 10, 14]

In [56]:
import mymodule as mm
print(mm.my_add(7, 3))
print(mm.my_sub(5, 3))

AttributeError: module 'mymodule' has no attribute 'my_add'